.git
metaModels
**/.DS_Store
**/logs
**/*.log
**/npm-debug.log*
**/pids
**/*.pid
**/*.seed
**/*.pid.lock
**/lib-cov
**/coverage
**/.nyc_output
**/.grunt
**/.lock-wscript
**/build/Release
**/node_modules
**/jspm_packages
**/.npm
**/.eslintcache
**/.node_repl_history
**/.yarn-integrity
**/bower_components
**/dist
**/config.js