export default{
  GitHubProxyService:{
    endPointBase : "<placeholder_codegen>" // location of the code generation service
  },
  CodeEditorWidget:{
    node_modules: "<placeholder_node_modules>" // location of node_modules
  },
  Yjs: {
    websockets_server: "<placeholder_yjs_websocket_server>"
  }
}
