export default{
  GitHubProxyService:{
    endPointBase : "http://localhost:8080/CAE/CodeGen" // location of the code generation service
  },
  CodeEditorWidget:{
    bower_components: "http://localhost/liveCodeEditorWidget/bower_components/" // location of bower components
  },
  Yjs: {
    websockets_server: "http://yjs.dbis.rwth-aachen.de:5079"
  }
}
