export default{
  GitHubProxyService:{
    endPointBase : "<placeholder_codegen>" // location of the code generation service
  },
  CodeEditorWidget:{
    bower_components: "<placeholder_bower_components>" // location of bower components
  },
  Yjs: {
    websockets_server: "<placeholder_yjs_websocket_server>"
  }
}
