.container {
    overflow-y: scroll;
    overflow-x: scroll;
}

#mainContent {
    max-height: 500px;
    width:100%;
}

#metadataTable tr:hover {
    background-color: #ccc;
}
.scrolltable {
    height: 350px;
    overflow: auto;
}
