div#editor  div, div#editor  span{
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

div.mdl-grid{
  padding:0px !important;
  margin: 0px !important;
}

div.mdl-cell{
  padding:0px !important;
  margin:0px !important;
}

div.mdl-cell{
  padding:0px !important;
  margin:0px !important;
}

div#container.sidebar-is-visible{
  margin-right:-250px;
}

div.page-content.sidebar-is-visible{
  margin-right:250px;
}

div#jstree-marker{
  z-index: 10000;
}

div#orderableSegments{
  overflow: scroll;
  margin-right:5px
}

div#orderableSegments .jstree-children>ul>li.jstree-node{
  margin-left:12px !important;
}

.activeTrace {
  position: absolute; /* without this positions will be erong */
  background: #e6f5fc; /* color */
  z-index: 4; /* in front of all other markers */
}
.ace_highlight-block{
  position: absolute; /* without this positions will be erong */
  border: 1px solid black;
  background: rgba(120,120,120,0.1); /* color */
  z-index: 1000; /* in front of all other markers */
}
.target{
  pointer-events: auto;
  position:absolute;
  z-index:1001;
  cursor:pointer!important;
  background-color: #00ffff;
}

.ace_cursor.disabled{
  width:28px !important;
  height:24px!important;
  background-image:url("http://localhost/liveCodeEditorWidget/img/cancel.png");
  background-position: 2px 0px;
  background-size:24px;
  background-repeat:no-repeat;
}
.over{
  background-color: #ff00ff;
}

.remoteCursor{
  position: absolute;
  pointer-events: auto;
  z-index: 1001; /* in front of all other markers */
  cursor:move!important;
  background-color: #000000;
  width:4px;
  height:22px;
}

.username{
  color:#ffffff;
}

.moveable{
  position: absolute;
  pointer-events: auto;
  z-index: 1001; /* in front of all other markers */
  cursor:move!important;
  background-color: #ffffff;
  background-image:url("./img/move-icon.png");
  background-size:20px;
  width:20px;
  height:20px;
}

.moveObject{
  border: 1px solid rgba(119,116,139,1);
  position:absolute;
  z-index:10000;
  background: #ffffff;
}

.ace_highlight-unprotected{
  position: absolute; /* without this positions will be erong */
  border: 1px solid #dedede;
  background: rgba(255,255,255,1);
  z-index: 3; /* in front of all other markers */
}
.ace_highlight-trace{
  background:#e5e5e5;
  position: absolute; /* without this positions will be erong */
  z-index: 2; /* in front of all other markers */
}

.mdl-navigation.files a{
  padding:5px;
  height:10px;
}

.editor{
  display:none;
}

main.mdl-layout__content.onTop{
  z-index:10;
}

.splash-card-wide.mdl-card {
  width: 512px;
  margin: 0 auto;
}

#loading-body ul li{
  color:#d5d5d5;
}

#loading-body ul li.isDone{
  color:#000000;
}

.splash-card-wide > .mdl-card__title {
  color: #fff;
  height: 50px;
  background: #3f51b5;
}
.splash-card-wide > .mdl-card__menu {
  color: #fff;
}

.editor div.mdl-card__actions{
  padding:0px !important;
}

.loading{
  display:none;
}
.loading-is-visible {
  display: block;
  z-index: 1010;
}
.loading-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.loading-overlay.modal-is-visible {
  display: block;
  z-index: 1009;
}
